MQTT_HOST=0.0.0.0
MQTT_PORT=1883
MQTT_URL=mqtt://127.0.0.1:1883
MQTT_TOPIC=heler/sensor
SERIAL_PORT=COM3
SERIAL_BAUD=115200
TANK_HEIGHT_CM=100

# Untuk sketch ESP32, gunakan IP Wi-Fi laptop Anda:
# 10.74.228.213
